<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mongoose Flights</title>
</head>
<body>
    <h1>Create a New Flights</h1>
    <a href="/">Home</a>
    <a href="/flights">Cancel</a>
    <form action="/flights" method="post">
        <select name="airline">
            <option value="American">American</option>
            <option value="United">United</option>
            <option value="Southwest">Southwest</option>
        </select><br>
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="SEA">SEA</option>
        </select><br>
        <input type="number" name="flightNo"><br>
        <input type="datetime-local" name="departs"><br>
        <input type="submit" value="Add Flight">
    </form>
</body>
</html>